<div class="card">
  <header>
    <h2>KYC Form</h2>
  </header>
  <main>
    <form *ngIf="kycFormGroup; else skeletonLoader"
          #kycForm="ngForm"
          [formGroup]="kycFormGroup"
          id="kycForm"
          (submit)="save()"
    >
      <!-- Form group for first name-->
      <div *ngIf="kycFormGroup.get('firstName') as firstName" class="form-group">
        <label for="firstName_input">First name</label>
        <input id="firstName_input"
               formControlName="firstName"
               type="text"
               aria-describedby="firstName_info"
               [class.is-valid]="kycForm['submitted'] && firstName.valid"
               [class.is-invalid]="kycForm['submitted'] && firstName.invalid"
        />
        <span class="form-info" id="firstName_info">
          <!-- Hint text when not submitted -->
          <ng-container *ngIf="!kycForm['submitted']">Enter first name</ng-container>
          <ng-container *ngIf="kycForm['submitted']">
            <!-- Text when submitted and valid -->
            <ng-container *ngIf="firstName.valid">First name looks correct</ng-container>
            <!-- Text when form control contains one or more errors -->
            <ng-container *ngIf="firstName.errors as errors">
              <!-- Text for each error (only one will be displayed at a time) -->
              <ng-container *ngIf="errors['required']">Enter your first name</ng-container>
              <ng-container *ngIf="errors['minlength'] as minLength">Enter at least {{minLength?.requiredLength}} characters</ng-container>
            </ng-container>
          </ng-container>
        </span>
      </div>
      <!-- Form group for last name-->
      <div *ngIf="kycFormGroup.get('lastName') as lastName" class="form-group">
        <label for="lastName_input">Last name</label>
        <input id="lastName_input"
               formControlName="lastName"
               type="text"
               aria-describedby="lastName_info"
               [class.is-valid]="kycForm['submitted'] && lastName.valid"
               [class.is-invalid]="kycForm['submitted'] && lastName.invalid"
        />
        <span class="form-info" id="lastName_info">
          <!-- Hint text when not submitted -->
          <ng-container *ngIf="!kycForm['submitted']">Enter last name</ng-container>
          <ng-container *ngIf="kycForm['submitted']">
            <!-- Text when submitted and valid -->
            <ng-container *ngIf="lastName.valid">Last name looks correct</ng-container>
            <!-- Text when form control contains one or more errors -->
            <ng-container *ngIf="lastName.errors as errors">
              <!-- Text for each error (only one will be displayed at a time) -->
              <ng-container *ngIf="errors['required']">Enter your last name</ng-container>
            </ng-container>
          </ng-container>
        </span>
      </div>
      <!-- Form group for occupation -->
      <div *ngIf="kycFormGroup.get('occupation') as occupation" class="form-group">
        <ngg-dropdown formControlName="occupation"
                      text="Select occupation"
                      [options]="occupations$ | async"
                      label="Occupation"
                      [valid]="occupation.valid && kycForm.submitted"
                      [invalid]="occupation.invalid && kycForm.submitted"
        >
          <!-- Info text when not submitted -->
          <ng-container data-form-info *ngIf="!kycForm['submitted']">Select occupation</ng-container>
          <!-- Info text when submitted -->
          <ng-container data-form-info *ngIf="kycForm['submitted']">
            <!-- Text when form control contains one or more errors -->
            <ng-container *ngIf="occupation.errors as errors">
              <!-- Text for each error (only one will be displayed at a time) -->
              <ng-container *ngIf="errors['required']">Select your occupation</ng-container>
            </ng-container>
          </ng-container>
        </ngg-dropdown>
      </div>
    </form>
    <div role="alert" class="danger" *ngIf="kycForm?.invalid && kycForm?.submitted">
      <main>
        <h3>Error!</h3>
        <p>
          The form contains one or more errors, please correct them before proceeding.
        </p>
      </main>
    </div>
  </main>
  <footer>
    <button type="reset" form="kycForm">Reset</button>
    <button type="submit" form="kycForm" [disabled]="kycForm?.submitted && kycFormGroup?.invalid || (isLoading$ | async)">Save</button>
  </footer>
</div>
<ng-template #skeletonLoader>
  <!-- TODO: add skeleton loader -->
  <div>Loading...</div>
</ng-template>
<!-- FOR DEMO & DEBUG PURPOSE ONLY -->
<code>
  <h5 class="mb-0">Form data</h5>
  <div>
    Submitted: {{kycForm?.submitted}}
    Invalid: {{kycFormGroup?.invalid}}
  </div>
  <h5 class="mb-0">Values</h5>
  <div>
    {{kycFormGroup?.value | json}}
  </div>
  <h5 class="mb-0">Errors</h5>
  <div *ngFor="let f of kycFormGroup?.controls | keyvalue">
    {{f.key}}:{{f.value.errors | json}}
  </div>
</code>

